.botpresentation {
    margin-top: 150px;
    text-align: center;
}

.botpresentation img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.botpresentation h1 {
    margin-top: 20px;
}

.botpresentation h3 {
    margin-top: 20px;
}

.features {
    margin: 250px;
    margin-top: 350px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards * {
    margin: 10px;
}

.beforefooter {
    margin-top: 150px;
    text-align: center;
}

.btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btns * {
    margin: 5px;
}