.main {
    justify-content: center;
    align-items: center;
    background-color: #2F3136;
    border-radius: 1em;
    margin: 100px;
    transition: 0.3s ease;
}

.main * {
    padding: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modules {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    margin: 100px;
    transition: 0.3s ease;
}