
:root {
  /* Remplacez la valeur ci-dessous pour changer la couleur principale de votre site.*/
  --mainColor: #F2AC34;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

/*div {
  border: 2px solid aqua;
}*/

body {
  background: #36393F;
  font-family: 'Nunito',sans-serif;
  margin: 0;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

footer {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background: #2F3136;
  padding: 50px;
}

footer .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer .content .logo {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 100%;
}

footer .content .links {
  display: block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

p {
  color: white;
  font-size: 1em;
}

.link {
  margin: 0;
  color: white;
  text-decoration: none;
  outline: none;
  background: none;
  border: none;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
}

.links .link {
  margin: 10px;
}

.link:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-radius: 10px;
}